[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdparty/bundle"]
	path = 3rdparty/bundle
	url = https://github.com/r-lyeh-archived/bundle.git
[submodule "3rdparty/cpuinfo"]
	path = 3rdparty/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "3rdparty/csv2"]
	path = 3rdparty/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "3rdparty/D3DX12"]
	path = 3rdparty/D3DX12
	url = https://github.com/vilbeyli/D3DX12.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/kcp"]
	path = 3rdparty/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "3rdparty/microprofile"]
	path = 3rdparty/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/volk"]
	path = 3rdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/webgpu-headers"]
	path = 3rdparty/webgpu-headers
	url = https://github.com/webgpu-native/webgpu-headers.git
[submodule "3rdparty/SPIRV-Cross"]
	path = 3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/miniz-cpp"]
	path = 3rdparty/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp.git
