[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "3rdparty/cpuinfo"]
	path = 3rdparty/cpuinfo
	url = https://github.com/pytorch/cpuinfo.git
[submodule "3rdparty/csv2"]
	path = 3rdparty/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "3rdparty/kcp"]
	path = 3rdparty/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "3rdparty/microprofile"]
	path = 3rdparty/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "3rdparty/openal-soft"]
	path = 3rdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/webgpu-headers"]
	path = 3rdparty/webgpu-headers
	url = https://github.com/webgpu-native/webgpu-headers.git
[submodule "3rdparty/SPIRV-Cross"]
	path = 3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/vkbind"]
	path = 3rdparty/vkbind
	url = https://github.com/mackron/vkbind.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
